header {
  padding: 10px 10px 10px 10px;
}
.journey {
  padding-top: 50px;
  padding-right: 60px;
  padding-bottom: 50px;
  padding-left: 80px;
}
body {
  background-color: aqua;
  background: url(bubbles.jpg);
  color: black;
  text-align: center;
  background-position: top;

  }

img {
 border: solid;
  
}

h2 {
  text-align: left;
}

p {
  text-align: left;
  
}
  
ul {
   
  padding: 20px;
 }

li {
  display: inline;
  border-right;
  } 

a {
  
 color: black; 
  
}

footer {
  font-size: 30px;
 
}

hr
{
    border: 3px solid #000;
   
}








  


  



 