body {
  background-color: #F7FEF8;
  color: black;
  text-align: center;

  } 
img {
 border:solid;
  
}
h2 {
  text-align: left;
}
p {
  text-align: left;
  
  
}
    
  ul {

  padding: 20px;
 }

li {
  display: inline;

}
a {
  
 color: black; 
  
}
footer {
  font-size: 30px;
  
  
}

  

