

#company {
	font-size: 24px;
	font-family: helvetica;
	color: white;
	margin-left: 800px;
	


}
#motto {
	font-size: 22px;
	font-family: helvetica;
	color: white;
	text-align: center;


}
.wrapper {
    text-align: center;
}

.button {
    position: middle;
    top: 50%;
    background-color: yellow;
}

.top {

	height: 400px;
  background: url(../images/header_bg.jpg) no-repeat top;
  background-color: black;
  padding-top: 32px;
  padding-bottom: 32px;
 }
 .middle {
 	height: 700px;
 	background-color
 	padding-top: 60px;
 }
 
h3 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}
#benefits {
  text-align: center;


}
ul {
  display:table; margin:0 auto;

}
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
 
.testimonial {
	background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 70px 0 70px;
  color: #fff;
}
blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: bold;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
.wrapper2 {
    text-align: center;
    border-width: 960px;
}

.button2 {
    position: middle;
    color: white;
    bottom: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #120A8F;
}
.box{
background: yellow;
color: black;
border:1px solid #000;
margin:5px;
padding:10px;
}

}
#footer {
  text-align: center;
}
.bottom {
  background-color: #2f4f4f;

}
.logo {
  font-size: 48px;
  font-family: helvetica;
  font-weight: 800;
  width:960px;
  margin:0 auto;
}
footer {
  background: #2f4f4f;
  padding: 40px 0 40px;
  text-align: center;
}
footer .logo {
  color: yellow;
  margin-bottom: 68px;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}
footer p {
  font-size: 18px;
  font-family: helvetica;
  color: #fff;
  font-weight: 600;
}




