

.top {
height: 400px;
background: url(../images/header_bg.jpg) no-repeat top;
background-color: black;
padding-top: 32px;
padding-bottom: 32px;


}
.testimonial {
	background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 70px 0 70px;
  color: #fff;
}
