body {
  font-family: 'Open Sans', sans-serif;

}

#company {
  font-size: 36px;
  color: white;
  padding-left: 700px;
  padding-right: 700px;
}

#motto {
  font-size: 22px;
  color: white;
  text-align: center;
}
.wrapper {
    text-align: center;
}

.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: yellow;
}

.top {

  height: 400px;
  background: url(../images/header_bg.jpg) no-repeat top;
  background-color: black;
  padding-top: 32px;
  padding-bottom: 32px;
 }
 
h3 {
  color: #033048;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  padding-left: 700px;
 padding-right: 700px;
}
.benefits ul  {
 padding-left: 700px;
 padding-right: 700px;
}


}
.benefits {
  padding-top: 300px;
  padding-bottom: 300px;

}
.benefits p {
  padding-left: 650px;
  padding-right: 650px;
}
.bennies {
  margin-top: 100px;
  margin-bottom: 100px;
}
  
.testimonial {
	background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
	height: 300px;
  padding: 70px 0 70px;
  color: #fff;
}
blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 580px;
  margin: 0 auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
.button2 {
border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #00008B;
  color: white;
}
.box{
background: yellow;
color: black;
border:3px solid #000;
margin:0px;
padding:10px;
}

#footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}
.bottom {
  background-color: #2f4f4f;

}
.logo {
  font-size: 48px;
  font-weight: 800;
  width:960px;
  margin:0 auto;
}
footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}
footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}
footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}



